.SignUpScreen {
  max-width: 300px;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}

.SignUpScreen > form {
  display: grid;
  flex-direction: column;
}

.SignUpScreen > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

.SignUpScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border-radius: 5px;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.SignUpScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
}
.signupScreen_grey {
  color: gray;
}

.SignUpScreen > form > h1 {
  padding-bottom: 5px;
}
.SignupScreen_Link:hover {
  cursor: pointer;
  text-decoration: underline;
}
